body {
	background-color: #222;
	color: #aaa;
}

input[type="text"] {
  border: 0;
  outline: 0;
  width: 80%;
  display: block;
  background: transparent;
  color: #aaa;
  border-bottom: 2px solid blue;
}
input[type="text"]:focus {
  border-color: green
}

select {
  border: 0;
  outline: 0;
  width: 80%;
  display: block;
  background: transparent;
  color: #aaa;
  border-bottom: 2px solid blue;
}
select:focus {
  border-color: green
}

/* The side navigation menu */
.sidebar {
	margin: 0;
	padding-left: 15px; width : 70px;
	background-color: #000;
	color: #aaa;
	position: fixed;
	font-size: 40px; height : 100%;
	overflow: auto;
	height: 100%;
	width: 70px;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: #ddd;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: #4CAF50;
	color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not (.active ){
	background-color: #555;
	color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content1 {
	margin-left: 100px;
	width: 90%;
	/*	padding: 1px 16px;*/
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content1 {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

/** Grid of dashboard */
div.mcurecord {
	border: 1px solid orange;
	margin: 2px;
}
div.mcurecordColor {
	background-color: darkgreen;
}
ol.gridUL {
    counter-reset: index;
    counter-increment: index;
    list-style: none;
}

ol.gridUL li:nth-child(4n+0) {
    counter-increment: index;
}

ol.gridUL li:not(:nth-child(4n+0)):before {
    content: counter(index)". ";
}

ol.gridUL li:nth-child(4n+0):before {
    content: "";
}